.nav {
  position: sticky;
  top: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}
.top-container {
  display: flex;
  align-items: center;
  padding-left: 85px;
}

.navbar-logo {
  width: 150px;
}

.navbar-search {
  width: 450px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  position: relative;
  left: 50px;
}

.inputbase {
  flex: 1;
}

#mic-button {
  position: relative;
  left: 10px;
}

.bottom-container {
  display: inline-flex;
  align-items: center;
  padding-left: 95px;
}

.link {
  margin-right: 15px;
  margin-left: 5px;
  color: gray;
  font-size: 15px;
  text-decoration: none;
}
.link:active {
  color: black;
}
#divider {
  height: 30px;
  position: relative;
  left: 6px;
}

@media (max-width: 1200px) {
  .navbar-logo {
    width: 100px;
  }
  .navbar-search {
    width: 375px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 12.5px;
    position: relative;
    left: 30px;
  }
  .top-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
  .bottom-container {
    display: inline-flex;
    align-items: center;
    padding-left: 60px;
  }
}
@media (max-width: 875px) {
  .navbar-logo {
    width: 100px;
  }
  .navbar-search {
    width: 325px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 12.5px;
    position: relative;
    left: 30px;
  }
  .top-container {
    display: flex;
    align-items: center;
    padding-left: 40px;
  }
  .bottom-container {
    display: inline-flex;
    align-items: center;
    padding-left: 50px;
  }
}

@media (max-width: 700px) {
  .navbar-logo {
    width: 70px;
  }
  .navbar-search {
    width: 300px;
    height: 27.5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    left: 15px;
  }
  .top-container {
    display: flex;
    align-items: center;
    padding-left: 60px;
  }
  .bottom-container {
    display: inline-flex;
    align-items: center;
    padding-left: 70px;
  }
  #mic-button {
    position: relative;
    left: 5px;
  }
}
@media (max-width: 500px) {
  .navbar-logo {
    width: 70px;
  }
  .navbar-search {
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    left: 10px;
  }
  .top-container {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  .bottom-container {
    display: inline-flex;
    align-items: center;
    padding-left: 25px;
  }
  #mic-button {
    position: relative;
    left: 2px;
  }
}
@media (max-width: 400px) {
  .navbar-logo {
    width: 70px;
  }
  .navbar-search {
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    position: relative;
    left: 5px;
  }
  .top-container {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  .bottom-container {
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
  }
  #mic-button {
    position: relative;
    left: 2px;
  }
}
